.col-6
  %p{:class => "card-text mx-3"} 
    NOMBRE:
.col-6
  %p{:class => "card-text text-end mx-3"}
    Javier Diaz
.col-6
  %p{:class => "card-text mx-3"} 
    CEDULA
.col-6
  %p{:class => "card-text text-end mx-3"}
    V-29.543.140
.col-6
  %p{:class => "card-text mb-3 mx-3"} 
    TELEFONO
.col-6
  %p{:class => "card-text text-end mb-3 mx-3"}
    04121688466
%a{:class => "card-text text-center mb-4", :href => "http://www.resultadostriplezulia.com/action/index"}
  Busque el resultado aquí

- @data = ApplicationRecord.generate_qr("https://localhost:3000/tickets?draw_id=#{@draw.id}&plays=#{@place.id}")

.div
  %img{src: "data:image/png;base64,#{@data}", :style => "margin: -20px 0 0 24.4%; width: 170px"}/